In [1]:
import requests
import json
import pandas as pd
from datetime import datetime
import time

In [2]:
def get_review(hotel_code):
    num = 0
    max_num = 10
    review_list = []

    while num <= max_num:
        url = f'https://www.dailyhotel.com/newdelhi/goodnight/api/v10/reviews/HOTEL/{hotel_code}/contents?page={num}'
        headers = {
            'User-Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/118.0.0.0 Safari/537.36',
        }
        res = requests.get(url,headers=headers)
        review = json.loads(res.text)

        for con in review['data']['contents']: 

            review_list.append({
                'reviewAt' : con['reviewAt'],
                'nickname' : con['nickname'],
                'comment' : con['comment'],
                'avgScore' : con['avgScore'],
                # 'avgScoreDesc' : con['avgScoreDesc'],
                # 'itemDetailName' : con['itemDetailName'],
                'helpfulCount' : con['helpfulCount']
                # 'mainImagePath' : con['mainImagePath']
                                })
        # 1000개 까지만
        if len(review_list) == 1000:
            break
        # 페이지 추가
        max_num = review['data']['totalElements'] // 20
        num += 1

    return pd.DataFrame(review_list)

In [3]:
get_review(70287)

,reviewAt,nickname,comment,avgScore,helpfulCount
0,2023.06.26,zka**,정말 오랜만에 예약한 카파쓰 호텔 ❤️늦은 시간 체크인이엿는데 도착하자마자 환한 미...,5.0,0
1,2023.05.06,gus**,it was a very comfortable and tidy room!\nthey...,5.0,0
2,2023.05.01,som**,클래식으로 예약했으나 직원분께서 스위트로 업그레이드 시켜주셔서 감사했습니다^^\n전...,4.8,0
3,2022.08.26,moo**,전체적으로 조명이 어두운데 잠을 잘잤어요\n근처에 편의점도 있고 10분정도 도보로 ...,4.5,5
4,2021.10.01,sos**,역삼역에서 가까운 편이고 가격 저렴하고 방도 큰편이고 큰 욕조도 있는데 소파는 칼로...,4.5,8
...,...,...,...,...,...
471,2020.01.11,ehd**,스킨 로션이 없어서 구려요,1.0,1
472,2020.01.11,aze**,13만원짜린 절대 아닌듯 방음이 문이 없는 수준,1.5,0
473,2019.10.25,che**,조식이 맛없었어요 ..,2.0,0
474,2019.10.25,guc**,하수구 냄새가 너무 나여ㅜ,2.0,0
475,2019.09.28,yys**,벽이 너무 더럽고 날파리들 날라다녔어요,1.5,0

In [4]:
df = pd.read_csv('./hotels/전체.csv', index_col=0)
df

,code,name,grade,type,d_price,price,benefit,region_L,region_S,code_L,code_S,lat,lon
index,,,,,,,,,,,,,
0,69450,역삼 카파스,모텔,motel,138800,0,"❤️Suit 객실 예약시 와인, 전 객실 음료 무료제공 / 전객실 넷플릭스존❤️",서울,강남 / 역삼 / 삼성,300000016,200000151,37.501543,127.041135
1,70287,카파스 호텔,2성급,hotel,118800,120000,❤️Suit 객실 예약시 와인 또는 무료음료 제공/전 객실 넷플릭스 시청가능❤️,서울,강남 / 역삼 / 삼성,300000016,200000151,37.501458,127.041135
2,85926,역삼 브라운도트 역삼점,모텔,motel,90000,0,"✨넷플릭스,웨이브,티빙,디즈니+프리✨ 세라젬안마의자 운영☘️루프탑 단독 대관 이용(...",서울,강남 / 역삼 / 삼성,300000016,200000151,37.502845,127.040286
3,68173,역삼 리치웰,모텔,motel,69800,0,❤️선착순 할인 쿠폰/ 무료 주차 / 욕조 보유❤️,서울,강남 / 역삼 / 삼성,300000016,200000151,37.502839,127.039826
4,70392,역삼 XYM,모텔,motel,69800,0,❤️전객실 65'TV / 넷플릭스 Free / 유튜브 / OTT가능❤️,서울,강남 / 역삼 / 삼성,300000016,200000151,37.501038,127.039672
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22,100085,옥천 스테이비롯,펜션,pension,0,0,NaN,충북,영동,300000031,200000328,36.249279,127.551268
23,86314,영동 솔밭민박,펜션,pension,150000,150000,NaN,충북,영동,300000031,200000328,36.129124,127.673429
24,79789,옥천 엠엔모텔,모텔,motel,40000,40000,NaN,충북,영동,300000031,200000328,36.329063,127.535953
25,80400,영동 초록마을펜션,펜션,pension,0,0,NaN,충북,영동,300000031,200000328,36.113638,127.894085
26,100097,옥천 스톤앤레이크,펜션,pension,220000,220000,NaN,충북,영동,300000031,200000328,36.363617,127.588987

In [5]:
pd.set_option('display.max_rows', 10)

In [6]:
df = df.drop_duplicates()
len(df)

23518

In [7]:
import os

# 디렉터리 경로
directory_path = "./reviews"


# 디렉터리 존재 여부 확인
if not os.path.exists(directory_path):
    os.makedirs(directory_path)
    print('디렉토리 생성')
else:
    print('디렉토리 존재')

디렉토리 존재

In [8]:
df['region_L'].unique()[:1]

array(['서울'], dtype=object)

In [9]:
df

,code,name,grade,type,d_price,price,benefit,region_L,region_S,code_L,code_S,lat,lon
index,,,,,,,,,,,,,
0,69450,역삼 카파스,모텔,motel,138800,0,"❤️Suit 객실 예약시 와인, 전 객실 음료 무료제공 / 전객실 넷플릭스존❤️",서울,강남 / 역삼 / 삼성,300000016,200000151,37.501543,127.041135
1,70287,카파스 호텔,2성급,hotel,118800,120000,❤️Suit 객실 예약시 와인 또는 무료음료 제공/전 객실 넷플릭스 시청가능❤️,서울,강남 / 역삼 / 삼성,300000016,200000151,37.501458,127.041135
2,85926,역삼 브라운도트 역삼점,모텔,motel,90000,0,"✨넷플릭스,웨이브,티빙,디즈니+프리✨ 세라젬안마의자 운영☘️루프탑 단독 대관 이용(...",서울,강남 / 역삼 / 삼성,300000016,200000151,37.502845,127.040286
3,68173,역삼 리치웰,모텔,motel,69800,0,❤️선착순 할인 쿠폰/ 무료 주차 / 욕조 보유❤️,서울,강남 / 역삼 / 삼성,300000016,200000151,37.502839,127.039826
4,70392,역삼 XYM,모텔,motel,69800,0,❤️전객실 65'TV / 넷플릭스 Free / 유튜브 / OTT가능❤️,서울,강남 / 역삼 / 삼성,300000016,200000151,37.501038,127.039672
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22,100085,옥천 스테이비롯,펜션,pension,0,0,NaN,충북,영동,300000031,200000328,36.249279,127.551268
23,86314,영동 솔밭민박,펜션,pension,150000,150000,NaN,충북,영동,300000031,200000328,36.129124,127.673429
24,79789,옥천 엠엔모텔,모텔,motel,40000,40000,NaN,충북,영동,300000031,200000328,36.329063,127.535953
25,80400,영동 초록마을펜션,펜션,pension,0,0,NaN,충북,영동,300000031,200000328,36.113638,127.894085
26,100097,옥천 스톤앤레이크,펜션,pension,220000,220000,NaN,충북,영동,300000031,200000328,36.363617,127.588987

In [10]:
from tqdm import tqdm

In [13]:

for region in tqdm(df['region_L'].unique()):
     
     region_df = df[df['region_L'] == region]
     region_review = pd.DataFrame()
     try:
          for idx in range(min(len(region_df),1000)): # 1000개 까지만
               h_code = region_df.iloc[idx,0]

               # 리뷰 받아오는 함수
               review_df = get_review(h_code)

               # 코드 추가
               review_df['code'] = h_code

               # 순서 설정
               review_df = review_df[['reviewAt',"code"] + [col for col in review_df.columns if col not in ['reviewAt',"code"]]]

               region_review = pd.concat([region_review,review_df], ignore_index=True)

               print(f'{h_code} Done!, len:{len(review_df)}')

               # review_df.to_csv(f'./reviews/{h_code}.csv', index=False) # 각각 숙소 확인
     except Exception as e:
          print(e, h_code)


     region_review.to_csv(f'./reviews/{region}.csv', index=False)

  0%|          | 0/16 [00:00<?, ?it/s]

69450 Done!, len:1000
70287 Done!, len:476
85926 Done!, len:123
68173 Done!, len:823
70392 Done!, len:1000
73890 Done!, len:1000
67307 Done!, len:123
66994 Done!, len:50
71089 Done!, len:1000
70213 Done!, len:1000
79482 Done!, len:1000
73846 Done!, len:1000
70400 Done!, len:1000
81112 Done!, len:848
82949 Done!, len:176
72475 Done!, len:1000
80481 Done!, len:1000
75600 Done!, len:1000
69963 Done!, len:1000
75853 Done!, len:1000
69852 Done!, len:1000
69895 Done!, len:1000
80457 Done!, len:422
69911 Done!, len:1000
74789 Done!, len:1000
88342 Done!, len:49
72671 Done!, len:1000
90825 Done!, len:5
92672 Done!, len:4
69833 Done!, len:1000
86236 Done!, len:14
70243 Done!, len:1000
75032 Done!, len:1000
70253 Done!, len:1000
"['reviewAt'] not in index" 88789

  6%|▋         | 1/16 [02:41<40:18, 161.24s/it]

81829 Done!, len:360
68831 Done!, len:65
97755 Done!, len:4
82533 Done!, len:195
82536 Done!, len:205
70146 Done!, len:1000
81713 Done!, len:1000
72711 Done!, len:1000
70088 Done!, len:1000
72981 Done!, len:1000
75748 Done!, len:1000
81358 Done!, len:353
76463 Done!, len:1000
81971 Done!, len:255
84621 Done!, len:258
70249 Done!, len:391
70030 Done!, len:1000
87891 Done!, len:72
83114 Done!, len:40
76541 Done!, len:491
69896 Done!, len:1000
76243 Done!, len:987
81336 Done!, len:187
93537 Done!, len:232
69912 Done!, len:1000
83110 Done!, len:136
80564 Done!, len:173
70233 Done!, len:321
77941 Done!, len:312
78531 Done!, len:496
93138 Done!, len:14
76089 Done!, len:851
73329 Done!, len:356
88796 Done!, len:19
69873 Done!, len:349
85760 Done!, len:173
81707 Done!, len:148
70288 Done!, len:1000
70369 Done!, len:818
"['reviewAt'] not in index" 85377

 12%|█▎        | 2/16 [04:45<32:29, 139.24s/it]

86264 Done!, len:165
82110 Done!, len:437
67984 Done!, len:45
73162 Done!, len:50
68984 Done!, len:49
69258 Done!, len:43
82717 Done!, len:21
75385 Done!, len:77
83138 Done!, len:28
69279 Done!, len:16
80432 Done!, len:24
76283 Done!, len:39
91591 Done!, len:1
82217 Done!, len:18
72448 Done!, len:16
68992 Done!, len:27
68247 Done!, len:11
78872 Done!, len:15
75386 Done!, len:81
81079 Done!, len:50
69936 Done!, len:993
81947 Done!, len:2
75020 Done!, len:1000
74409 Done!, len:23
81374 Done!, len:28
92169 Done!, len:25
99623 Done!, len:1
70127 Done!, len:1000
69914 Done!, len:1000
70138 Done!, len:1000
72668 Done!, len:1000
70043 Done!, len:1000
72494 Done!, len:1000
78515 Done!, len:440
82607 Done!, len:169
72535 Done!, len:1000
70230 Done!, len:761
70060 Done!, len:1000
69968 Done!, len:576
70303 Done!, len:138
73245 Done!, len:467
70237 Done!, len:162
80803 Done!, len:460
70299 Done!, len:1000
70181 Done!, len:116
72023 Done!, len:14

 19%|█▉        | 3/16 [06:30<26:49, 123.78s/it]

70091 Done!, len:656
"['reviewAt'] not in index" 85750
74459 Done!, len:1000
73223 Done!, len:33
75189 Done!, len:34

 25%|██▌       | 4/16 [06:37<15:32, 77.73s/it]

71808 Done!, len:62
"['reviewAt'] not in index" 86143
85523 Done!, len:21
67331 Done!, len:4
68584 Done!, len:23
70014 Done!, len:949
69931 Done!, len:1000
93421 Done!, len:18
93535 Done!, len:400
71083 Done!, len:1000
72357 Done!, len:1000
86525 Done!, len:1
90954 Done!, len:261
70234 Done!, len:162
73713 Done!, len:158
69949 Done!, len:839
75491 Done!, len:547
70086 Done!, len:352
70089 Done!, len:127
70112 Done!, len:114
72832 Done!, len:107
78870 Done!, len:207
81523 Done!, len:70

 31%|███▏      | 5/16 [07:24<12:13, 66.70s/it]

68140 Done!, len:40
"['reviewAt'] not in index" 70296
71774 Done!, len:5
76855 Done!, len:46
76773 Done!, len:4
77486 Done!, len:51
91379 Done!, len:12

 38%|███▊      | 6/16 [07:26<07:25, 44.52s/it]

82188 Done!, len:24
"['reviewAt'] not in index" 86651
91699 Done!, len:12
78630 Done!, len:86
84449 Done!, len:1
92110 Done!, len:1
91724 Done!, len:2

 44%|████▍     | 7/16 [07:27<04:33, 30.40s/it]

98745 Done!, len:1
"['reviewAt'] not in index" 95963
82811 Done!, len:33
69668 Done!, len:242
70268 Done!, len:1000
69987 Done!, len:888
70219 Done!, len:1000
87097 Done!, len:20
76122 Done!, len:140
78702 Done!, len:245
74122 Done!, len:1000
74313 Done!, len:1000

 50%|█████     | 8/16 [08:21<05:02, 37.84s/it]

HTTPSConnectionPool(host='www.dailyhotel.com', port=443): Max retries exceeded with url: /newdelhi/goodnight/api/v10/reviews/HOTEL/76029/contents?page=26 (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x7f8c39ecfd60>: Failed to establish a new connection: [Errno -3] Temporary failure in name resolution')) 76029
73667 Done!, len:81
76584 Done!, len:6
73485 Done!, len:25
82560 Done!, len:9
71130 Done!, len:2
84408 Done!, len:9
71920 Done!, len:4
78272 Done!, len:95
71660 Done!, len:17
75891 Done!, len:50
82357 Done!, len:19
"['reviewAt'] not in index" 73005

 56%|█████▋    | 9/16 [08:24<03:08, 26.91s/it]

84154 Done!, len:100
80316 Done!, len:93
72893 Done!, len:20
88339 Done!, len:3
87219 Done!, len:11
78982 Done!, len:53
76410 Done!, len:30
98464 Done!, len:3
70952 Done!, len:23
80804 Done!, len:1000
70115 Done!, len:1000
70028 Done!, len:484
80984 Done!, len:1
92686 Done!, len:8
70019 Done!, len:1000
87909 Done!, len:474
70203 Done!, len:474
74168 Done!, len:772
70227 Done!, len:116
70108 Done!, len:966
88708 Done!, len:11
70047 Done!, len:621
88006 Done!, len:8
78329 Done!, len:218
70616 Done!, len:564
74920 Done!, len:161
70205 Done!, len:661
70225 Done!, len:105
70385 Done!, len:7
82204 Done!, len:22
69983 Done!, len:536
84249 Done!, len:91
98277 Done!, len:18
98111 Done!, len:3
100007 Done!, len:4
93638 Done!, len:1
99689 Done!, len:1

 62%|██████▎   | 10/16 [09:28<03:50, 38.40s/it]

70355 Done!, len:1
"['reviewAt'] not in index" 91289
72130 Done!, len:47

 69%|██████▉   | 11/16 [09:29<02:14, 26.91s/it]

97692 Done!, len:4
"['reviewAt'] not in index" 99398
73443 Done!, len:206
73473 Done!, len:165
71569 Done!, len:27
76471 Done!, len:101
75640 Done!, len:412
78008 Done!, len:10
83881 Done!, len:12
87686 Done!, len:2
71084 Done!, len:449
77524 Done!, len:14
77891 Done!, len:28
72031 Done!, len:10

 75%|███████▌  | 12/16 [09:39<01:27, 21.98s/it]

73254 Done!, len:41
"['reviewAt'] not in index" 98461
82345 Done!, len:39
68002 Done!, len:6
79716 Done!, len:1000
81706 Done!, len:313
91072 Done!, len:43
87858 Done!, len:7
75821 Done!, len:323
70123 Done!, len:1000
87985 Done!, len:2
92547 Done!, len:4
91154 Done!, len:1
85322 Done!, len:46
69925 Done!, len:17
70452 Done!, len:18
86958 Done!, len:40
84454 Done!, len:24
91197 Done!, len:15
70320 Done!, len:492
78749 Done!, len:36
75077 Done!, len:24
91196 Done!, len:9
78311 Done!, len:164
85184 Done!, len:23
87836 Done!, len:9
82678 Done!, len:11
73249 Done!, len:18
70279 Done!, len:271
84198 Done!, len:2
75677 Done!, len:1000
72675 Done!, len:2
76341 Done!, len:1
87042 Done!, len:8

 81%|████████▏ | 13/16 [10:16<01:18, 26.30s/it]

80141 Done!, len:200
"['reviewAt'] not in index" 70372
70018 Done!, len:1000
80549 Done!, len:375
77882 Done!, len:1000
70586 Done!, len:1000
69919 Done!, len:506
70275 Done!, len:609
69956 Done!, len:868
79509 Done!, len:17
78306 Done!, len:41
99429 Done!, len:2
69869 Done!, len:1000
95991 Done!, len:10

 88%|████████▊ | 14/16 [10:58<01:02, 31.01s/it]

"['reviewAt'] not in index" 99421
70466 Done!, len:31
73436 Done!, len:378
70395 Done!, len:1000
87807 Done!, len:371
78904 Done!, len:295
84522 Done!, len:49
70334 Done!, len:875
80159 Done!, len:39
79506 Done!, len:144
83003 Done!, len:5
70252 Done!, len:148

 94%|█████████▍| 15/16 [11:25<00:29, 29.92s/it]

76559 Done!, len:897
"['reviewAt'] not in index" 89663
69083 Done!, len:37
66832 Done!, len:103
72121 Done!, len:2
67472 Done!, len:5
81452 Done!, len:277
69930 Done!, len:87
88938 Done!, len:39
82474 Done!, len:3
79672 Done!, len:217
78589 Done!, len:193
84129 Done!, len:3
78628 Done!, len:96
82338 Done!, len:12
70353 Done!, len:29
78681 Done!, len:23
77619 Done!, len:28
73224 Done!, len:4

100%|██████████| 16/16 [11:33<00:00, 43.35s/it]

"['reviewAt'] not in index" 70315

In [14]:
pd.read_csv('./reviews/서울.csv')

,reviewAt,code,nickname,comment,avgScore,helpfulCount
0,2023.08.15,69450,sou**,카파쓰 호텔 시작에 도착할때 밖에 직접 환영학기를 위해 성격 친절하게 보였습니다! ...,5.0,2
1,2023.09.02,69450,cr4**,직원분도 너무 친절하고 실내가 너무 깨끗하고 좋았어요 진짜 기대이상이라 꼭 재이용할...,5.0,0
2,2023.08.15,69450,sou**,대실때 너무 편리해요! 저 담배 피는 적이 없어요! 원래는 담배 남새 있었다고 직원...,5.0,0
3,2023.08.15,69450,sou**,지난주에 여기 계실때 태풍이 있어도 온 진동이나 문제 없었어요! 직원 라면을 전자레...,5.0,0
4,2023.07.16,69450,ys5**,늦은 일정을 마치고 피곤할 것 같아서 늦은 퇴실 예약을 했는데 입실하면서 객실 업그...,5.0,0
...,...,...,...,...,...,...
25108,2018.07.29,70253,kim**,아늑해서 좋아요!!,4.5,0
25109,2018.07.29,70253,bye**,전체적으로 깔끔하고 좋았습니다.,4.5,0
25110,2018.07.29,70253,nin**,아늑하고 좋아요 짱짱,4.8,0
25111,2018.07.29,70253,jen**,"청결한 객실, 친절한 직원분들!",5.0,0
25112,2018.07.28,70253,mid**,좁긴 하지만 깨끗하고 좋네요,5.0,0

In [16]:
from glob import glob

In [25]:
for i in glob('./reviews/*.csv'):
    print(i)

./reviews/전북.csv
./reviews/서울.csv
./reviews/경북.csv
./reviews/경기.csv
./reviews/전남.csv
./reviews/충남.csv
./reviews/울산.csv
./reviews/대구.csv
./reviews/경남.csv
./reviews/광주.csv
./reviews/대전.csv
./reviews/강원.csv
./reviews/부산.csv
./reviews/제주.csv
./reviews/인천.csv
./reviews/충북.csv

In [86]:
a = pd.read_csv('./reviews/전북.csv')

In [87]:
b = pd.read_csv('./reviews/서울.csv')

In [88]:
c = pd.read_csv('./reviews/경북.csv')

In [89]:
d = pd.read_csv('./reviews/경기.csv')

In [90]:
e = pd.read_csv('./reviews/전남.csv')

In [91]:
f = pd.read_csv('./reviews/충남.csv')

In [92]:
g = pd.read_csv('./reviews/울산.csv')

In [93]:
h = pd.read_csv('./reviews/대구.csv')

In [94]:
i = pd.read_csv('./reviews/경남.csv')

In [95]:
j = pd.read_csv('./reviews/광주.csv')

In [96]:
k = pd.read_csv('./reviews/대전.csv')

In [97]:
l = pd.read_csv('./reviews/강원.csv')

In [98]:
m = pd.read_csv('./reviews/부산.csv')

In [99]:
n = pd.read_csv('./reviews/제주.csv')

In [100]:
o = pd.read_csv('./reviews/인천.csv')

In [101]:
p = pd.read_csv('./reviews/충북.csv')

In [103]:
len(a)

5168

In [104]:
len(b)

25113

In [105]:
sum = a.__len__(),b.__len__(),c.__len__(),d.__len__(),e.__len__(),f.__len__(),g.__len__(),h.__len__(),i.__len__(),j.__len__(),k.__len__(),l.__len__(),m.__len__(),n.__len__(),o.__len__(),p.__len__()

In [110]:
num = 0
for i in sum:
    num += int(i)
num

103455

In [102]:
result

,reviewAt,code,nickname,comment,avgScore,helpfulCount
0,2023.08.27,82345,bux**,화장실이 매우 넓어서 좋았다.\n1층에 헛개차랑 탄산음료도 준비되어있고\n방에 스타...,5.0,0
1,2021.06.24,82345,iys**,만족만족 대만족\n시설 모두 너무 깨끗하고 직원분도 친절했어요\n다음 전주여행을 온...,5.0,0
2,2021.04.12,82345,cri**,룸컨디션 정말 좋았어요. 어메너티도 향기 좋아서 쓸때 거북함 없이 편하게 사용했어요...,4.8,0
3,2023.07.28,82345,kak**,욕조가 있어서 편하게 잘 쉬었어요!\n\n가족여행인데 무료 업그레이드해주셔서\n더더...,4.3,0
4,2023.06.04,82345,min**,브라운도트 여러군데 지점도 있고 좋은 후기들 믿고 갔는데 다녀본 숙소 중 최악이었습...,1.8,0
...,...,...,...,...,...,...
1153,2020.11.24,77619,mul**,직원이 친절했습니다,3.3,0
1154,2023.10.25,73224,han**,"친절하고 깔끔하고 무엇보다 고급진 인테리어와 1층 카페의 정원, 2층 보테가라는 레...",5.0,0
1155,2023.10.10,73224,dbs**,이번이 2번째 뮤제오 이용으로\n아이와 가는데 사전에 요청드린 사항\n미리 준비해주...,5.0,0
1156,2023.11.04,73224,unt**,터미널 옆 접근성 좋고 정원이 이뻐요,5.0,0
1157,2023.08.26,73224,jyk**,깨끗하고 근처에 편의시설도 많고 접근성이 좋았어요.,5.0,0

In [111]:
result.to_csv('./reviews/all_reviews.csv', index=False)