In [31]:
import requests
import json
import pandas as pd
from datetime import datetime

In [32]:
headers = {
    'User-Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/118.0.0.0 Safari/537.36',
    'Content-Type': 'application/json'}
url = 'https://www.dailyhotel.com/newdelhi/goodnight/api/v1/stay/region?regionStayType=new_all'

In [33]:
res = requests.get(url,headers=headers)
region = json.loads(res.text)

In [34]:
region_list = []
for i in region['data']:

    
    region_list.append({
        'idx':i['idx'],
        'name':i['name'],
        'regions':i['regions']
    })

In [35]:
region_list[1]['idx'], region_list[1]['name']

(300000017, '부산')

In [36]:
region_list[1]['regions']

[{'idx': 200000173, 'name': '해운대', 'regions': []},
 {'idx': 200000174, 'name': '광안리 / 센텀', 'regions': []},
 {'idx': 200000175, 'name': '경성대', 'regions': []},
 {'idx': 200000176, 'name': '송정 / 기장', 'regions': []},
 {'idx': 200000177, 'name': '부산역', 'regions': []},
 {'idx': 200000178, 'name': '남포 / 자갈치', 'regions': []},
 {'idx': 200000179, 'name': '송도', 'regions': []},
 {'idx': 200000180, 'name': '서면 / 양정', 'regions': []},
 {'idx': 200000181, 'name': '동래', 'regions': []},
 {'idx': 200000182, 'name': '연산', 'regions': []},
 {'idx': 200000183, 'name': '금정', 'regions': []},
 {'idx': 200000184, 'name': '사상', 'regions': []},
 {'idx': 200000185, 'name': '명지', 'regions': []},
 {'idx': 200000186, 'name': '화명', 'regions': []},
 {'idx': 200000187, 'name': '신호 / 하단', 'regions': []},
 {'idx': 300000017, 'name': '부산 전체', 'regions': []}]

In [37]:
# detail['data']['staySaleSections'][0]['sectionType']
import time

In [38]:
# 찐

import requests
import json
import pandas as pd
from datetime import datetime



today = datetime.now().strftime('%Y-%m-%d')
total_df = pd.DataFrame()

for region in region_list:
    r_idx = region['idx']
    r_name = region['name']

    region_df = pd.DataFrame()

    for city in region['regions']:
        
        page = 1
        max_page = 10
        r_hotels = []
        r_num_check = 0

        c_idx = city['idx']
        c_name = city['name']

        if '전체' not in c_name:
            print(r_name, c_name, '크롤링 중')
            
            while page <= max_page:
                url = f'https://www.dailyhotel.com/newdelhi/goodnight/api/v10/stay/plp/list?dateCheckIn={today}&regionIdx={c_idx}&shortCutType=stayAll&persons=1&stays=1&details=true&regionStayType=new_all&stayType=&page={page}&limit=50'
                res = requests.get(url, headers=headers)
                detail = json.loads(res.text)
                
                for section in detail['data']['staySaleSections']:
                    for hotel in section['staySales']:
                        r_hotels.append({
                            'code': hotel['hotelIdx'],
                            'name': hotel['name'],
                            'grade': hotel['stayGradeName'],
                            'type': hotel['stayTypeCode'],
                            'd_price': hotel['discount'],
                            'price': hotel['price'],
                            'benefit': hotel['benefit'],
                            'region_L': hotel['regionLargeName'],
                            'region_S': hotel['regionMediumName'],
                            'code_L': hotel['regionLargeIdx'],
                            'code_S': hotel['regionMediumIdx'],
                            'lat': hotel['latitude'],
                            'lon': hotel['longitude']
                            })
                max_page = (detail['data']['staySalesCount'] // 50) + 1
                page += 1
            
                
            df = pd.DataFrame(r_hotels).drop_duplicates().reset_index()
            r_num_check += detail['data']['staySalesCount']
            
            if len(df) != r_num_check:
                print(f'hotel number error, {c_name}: {len(df)}, {r_num_check}')
                

        region_df = pd.concat([region_df, df], ignore_index=True)
    
    #지역별 csv 저장
    # region_df.to_csv(f'./hotels/{r_name}.csv')
    
    total_df = pd.concat([total_df, region_df], ignore_index=True)
total_df.to_csv('./hotels/전체.csv')

200000151 강남 / 역삼 / 삼성
3 2
200000152 서초 / 교대 / 방배
2 1
200000153 사당
2 1
200000154 신사 / 압구정 / 청담
2 1
200000155 잠실 / 송파 / 잠실새내 / 천호 / 강동
4 3
200000156 서울역 / 이태원 / 용산
2 1
200000157 명동 / 중구
5 4
200000158 을지로 / 충무로
2 1
200000159 종로 / 동대문 / 대학로
2 1
200000160 인사동
3 2
200000161 서대문 / 마포 / 신촌 / 홍대
4 3
200000162 영등포
3 2
200000163 여의도
2 1
200000164 신림 / 서울대
2 1
200000165 구로 / 금천
3 2
200000166 김포공항
2 1
200000167 강서 / 화곡
3 2
200000168 건대 / 성수
3 2
200000169 왕십리
2 1
200000170 군자 / 상봉 / 중랑구
2 1
200000171 장안 / 청량리
2 1
200000172 강북 / 수유 / 도봉 / 미아 / 성북 / 노원
4 3
200000173 해운대
5 4
200000174 광안리 / 센텀
4 3
hotel number error, 광안리 / 센텀: 105, 106
200000175 경성대
2 1
200000176 송정 / 기장
5 4
200000177 부산역
3 2
200000178 남포 / 자갈치
4 3
200000179 송도
2 1
200000180 서면 / 양정
4 3
200000181 동래
3 2
200000182 연산
2 1
200000183 금정
2 1
200000184 사상
3 2
200000185 명지
3 2
200000186 화명
2 1
200000187 신호 / 하단
2 1
200000188 제주시
10 9
hotel number error, 제주시: 406, 419
200000189 서귀포시 / 중문
9 8
hotel number error, 서귀포시 / 중문: 386, 388
200000190 제주국제공항
2 1
200000191 애월
7 6
hotel number error, 애월: 275, 281
200000192 한림 / 협재
5 4
200000193 성산
5 4
hotel number error, 성산: 156, 157
200000194 조천 / 함덕
4 3
hotel number error, 조천 / 함덕: 130, 132
200000195 남원 / 표선
5 4
hotel number error, 남원 / 표선: 173, 180
200000196 구좌 / 용눈이오름
5 4
hotel number error, 구좌 / 용눈이오름: 183, 187
200000197 모슬포항 / 대정 / 산방산 / 안덕
5 4
hotel number error, 모슬포항 / 대정 / 산방산 / 안덕: 171, 173
200000198 강릉 / 경포대 / 정동진
15 14
hotel number error, 강릉 / 경포대 / 정동진: 635, 663
200000199 속초 / 설악
7 6
hotel number error, 속초 / 설악: 256, 257
200000200 양양
7 6
200000201 고성
6 5
hotel number error, 고성: 198, 203
200000202 동해 / 정선
6 5
hotel number error, 동해 / 정선: 214, 215
200000203 삼척
5 4
hotel number error, 삼척: 173, 175
200000204 춘천 / 강촌 / 남이섬
8 7
200000205 홍천
7 6
hotel number error, 홍천: 277, 290
200000206 원주
4 3
200000207 영월
4 3
hotel number error, 영월: 100, 105
200000208 태백
2 1
200000209 평창
6 5
200000210 횡성
4 3
hotel number error, 횡성: 102, 105
200000211 인제 / 철원 / 양구 / 화천
5 4
hotel number error, 인제 / 철원 / 양구 / 화천: 183, 187
200000212 수원 / 인계 / 권선 / 영통
4 3
200000213 장안 / 팔달
3 2
200000214 용인
5 4
hotel number error, 용인: 163, 165
200000215 평택
3 2
200000216 안산 / 대부도
7 6
hotel number error, 안산 / 대부도: 248, 252
200000217 부천
3 2
200000218 시흥 / 광명
4 3
200000219 파주 / 고양 / 김포
8 7
hotel number error, 파주 / 고양 / 김포: 303, 304
200000220 화성 / 제부도 / 오산
6 5
hotel number error, 화성 / 제부도 / 오산: 207, 208
200000221 가평
19 18
hotel number error, 가평: 870, 890
200000222 양평 / 용문
8 7
hotel number error, 양평 / 용문: 326, 342
200000223 청평
5 4
hotel number error, 청평: 152, 159
200000224 안성
3 2
200000225 성남
3 2
200000226 의정부
3 2
200000227 포천 / 동두천
7 6
hotel number error, 포천 / 동두천: 272, 276
200000228 연천
2 1
200000229 안양
3 2
200000230 의왕 / 군포
2 1
200000231 남양주 / 구리 / 하남
5 4
hotel number error, 남양주 / 구리 / 하남: 174, 175
200000232 여주 / 이천
5 4
200000233 양주
3 2
200000234 강화
9 8
200000235 인천국제공항
3 2
200000236 송도 / 연수구
3 2
200000237 을왕리 / 월미도
4 3
200000238 영종도
2 1
200000239 청라
3 2
200000240 부평
3 2
200000241 주안
3 2
200000242 계양
2 1
200000243 미추홀
3 2
200000244 옹진군
6 5
hotel number error, 옹진군: 223, 227
200000245 달서구 / 성서 / 죽전 / 본리
3 2
200000246 동구 / 동대구역 / 대구공항
3 2
200000247 수성구 / 수성못 / 두산 / 지산
2 1
200000248 중구 / 동성로
2 1
200000249 북구 / 경북대
3 2
200000250 서구 / 비산
2 1
200000251 남구 / 봉덕
2 1
200000252 달성군
2 1
200000253 남구 / 삼산 / 중구 / 성남
4 3
200000254 동구 / 북구 / 울주군
6 5
hotel number error, 동구 / 북구 / 울주군: 245, 247
200000255 거제
13 12
hotel number error, 거제: 552, 569
200000256 통영
8 7
hotel number error, 통영: 301, 303
200000257 남해
9 8
hotel number error, 남해: 360, 365
200000258 사천 / 진주
6 5
200000259 고성
2 1
200000260 창원
8 7
200000261 김해
4 3
200000262 양산
4 3
200000263 밀양 / 합천
6 5
hotel number error, 밀양 / 합천: 201, 202
200000264 하동
3 2
hotel number error, 하동: 80, 81
200000265 산청
3 2
hotel number error, 산청: 74, 76
200000266 창녕
2 1
200000267 경주
16 15
hotel number error, 경주: 720, 741
200000268 포항
10 9
hotel number error, 포항: 406, 408
200000269 울릉
2 1
200000270 구미/김천
6 5
hotel number error, 구미/김천: 204, 205
200000271 영덕 / 청송
5 4
200000272 울진
3 2
200000273 경산 / 영천
3 2
200000274 청도
3 2
200000275 문경
3 2
200000276 상주
2 1
200000277 성주
2 1
200000278 안동
4 3
200000279 영주
3 2
hotel number error, 영주: 60, 61
200000280 서구 / 상무 / 유스퀘어
3 2
200000281 광산구 / 첨단 / 송정역 / 하남
3 2
200000282 동구 / 동명동 / 충장로 / 남구
3 2
200000283 북구 / 광주역 / 전남대사거리
3 2
200000284 여수
13 12
hotel number error, 여수: 550, 551
200000285 순천 / 광양
6 5
hotel number error, 순천 / 광양: 234, 235
200000286 구례
3 2
200000287 목포
4 3
200000288 해남
3 2
200000289 완도
3 2
hotel number error, 완도: 60, 61
200000290 보성
2 1
200000291 나주
2 1
200000292 담양 / 영광
4 3
200000293 무안
2 1
200000294 신안
2 1
200000295 고흥
2 1
200000296 화순
2 1
200000297 전주
10 9
hotel number error, 전주: 436, 442
200000298 군산
4 3
200000299 부안
6 5
200000300 고창
2 1
200000301 남원 / 순창
3 2
200000302 익산
3 2
200000303 완주
3 2
hotel number error, 완주: 85, 86
200000304 무주
4 3
200000305 유성구 / 충남대
3 2
200000306 중구 / 은행 / 서대전역
2 1
200000307 동구 / 대덕구 / 신탄진
3 2
200000308 서구 / 둔산 / 대전시청
3 2
200000309 천안
5 4
200000310 아산
4 3
200000311 태안 / 안면도
16 15
hotel number error, 태안 / 안면도: 714, 728
200000312 세종
2 1
200000313 금산
2 1
200000314 공주
4 3
200000315 부여
2 1
200000316 보령
8 7
hotel number error, 보령: 302, 305
200000317 서산
4 3
200000318 논산
2 1
200000319 서천
2 1
200000320 계룡
2 1
200000321 당진
3 2
200000322 청주 / 진천
6 5
200000323 제천 / 충주
6 5
hotel number error, 제천 / 충주: 235, 237
200000324 단양
5 4
200000325 괴산
3 2
hotel number error, 괴산: 79, 80
200000326 음성
2 1
200000327 보은
2 1
200000328 영동
2 1

In [39]:
pd.set_option('display.max_rows', 15)

In [40]:
r_hotels = []
for i in range(1,5):
    url = f'https://www.dailyhotel.com/newdelhi/goodnight/api/v10/stay/plp/list?dateCheckIn=2023-11-06&regionIdx=200000157&shortCutType=stayAll&persons=1&stays=1&details=true&regionStayType=new_all&stayType=&page={i}&limit=50'

    res = requests.get(url, headers=headers)
    detail = json.loads(res.text)

    for section in detail['data']['staySaleSections']:
        for hotel in section['staySales']:
            r_hotels.append({
                'code': hotel['hotelIdx'],
                'name': hotel['name'],
                'grade': hotel['stayGradeName'],
                'type': hotel['stayTypeCode'],
                'd_price': hotel['discount'],
                'price': hotel['price'],
                'benefit': hotel['benefit'],
                'region_L': hotel['regionLargeName'],
                'region_S': hotel['regionMediumName'],
                'code_L': hotel['regionLargeIdx'],
                'code_S': hotel['regionMediumIdx'],
                'lat': hotel['latitude'],
                'lon': hotel['longitude']
                })

a = pd.DataFrame(r_hotels)
a

,code,name,grade,type,d_price,price,benefit,region_L,region_S,code_L,code_S,lat,lon
0,84970,동대문역사문화공원역 LOO(루호텔),모텔,motel,0,0,⭐GRAND OPEN 디즈니+/넷플릭스 무료⭐,서울,명동 / 중구,300000016,200000157,37.565362,127.007024
1,79148,동대문역사문화공원역 부티크호텔 르릿,모텔,motel,0,0,✨#매일 소독#넷플릭스#셀프체크인✨,서울,명동 / 중구,300000016,200000157,37.563459,127.008529
2,70052,프레이저 플레이스 센트럴,4성급,hotel,0,0,,서울,명동 / 중구,300000016,200000157,37.562782,126.969783
3,75413,노보텔 앰배서더 동대문 호텔 & 레지던스,5성급,hotel,0,0,,서울,명동 / 중구,300000016,200000157,37.566159,127.004259
4,84589,서울신라호텔,5성급,hotel,0,0,,서울,명동 / 중구,300000016,200000157,37.555881,127.005153
...,...,...,...,...,...,...,...,...,...,...,...,...,...
149,80814,메트로 호텔,호텔,hotel,0,0,,서울,명동 / 중구,300000016,200000157,37.565096,126.983716
150,88797,명동 사보이 호텔,호텔,hotel,0,0,,서울,명동 / 중구,300000016,200000157,37.561766,126.984276
151,79443,명동 호텔미도,모텔,motel,0,0,,서울,명동 / 중구,300000016,200000157,37.558416,126.980561
152,79453,명동 꼬모,모텔,motel,0,0,,서울,명동 / 중구,300000016,200000157,37.560381,126.987196
153,86349,명동 오요3,모텔,motel,0,0,,서울,명동 / 중구,300000016,200000157,37.562938,126.985803

In [41]:
len(a)

154

In [42]:
detail['data']['staySalesCount']

151

In [43]:
len(a.drop_duplicates().reset_index())

151

In [44]:
comparison = a == b

In [45]:
comparison.

SyntaxError: invalid syntax (2766155144.py, line 1)

In [ ]:
print(comparison[comparison == False])

     code  name  grade  type  d_price  price  benefit  region_L  region_S  \
0     NaN   NaN    NaN   NaN      NaN    NaN      NaN       NaN       NaN
1     NaN   NaN    NaN   NaN      NaN    NaN      NaN       NaN       NaN
2     NaN   NaN    NaN   NaN      NaN    NaN      NaN       NaN       NaN
3     NaN   NaN    NaN   NaN      NaN    NaN      NaN       NaN       NaN
4     NaN   NaN    NaN   NaN      NaN    NaN      NaN       NaN       NaN
..    ...   ...    ...   ...      ...    ...      ...       ...       ...
149   NaN   NaN    NaN   NaN      NaN    NaN      NaN       NaN       NaN
150   NaN   NaN    NaN   NaN      NaN    NaN      NaN       NaN       NaN
151   0.0   0.0    NaN   NaN      NaN    NaN      NaN       NaN       NaN
152   0.0   0.0    NaN   NaN      NaN    NaN      NaN       NaN       NaN
153   NaN   NaN    NaN   NaN      NaN    NaN      NaN       NaN       NaN

     code_L  code_S  lat  lon
0       NaN     NaN  NaN  NaN
1       NaN     NaN  NaN  NaN
2       NaN     NaN  NaN  NaN
3       NaN     NaN  NaN  NaN
4       NaN     NaN  NaN  NaN
..      ...     ...  ...  ...
149     NaN     NaN  NaN  NaN
150     NaN     NaN  NaN  NaN
151     NaN     NaN  0.0  0.0
152     NaN     NaN  0.0  0.0
153     NaN     NaN  NaN  NaN

[154 rows x 13 columns]

In [ ]:
a.drop_duplicates().reset_index()

,index,code,name,grade,type,d_price,price,benefit,region_L,region_S,code_L,code_S,lat,lon
0,0,84970,동대문역사문화공원역 LOO(루호텔),모텔,motel,0,0,⭐GRAND OPEN 디즈니+/넷플릭스 무료⭐,서울,명동 / 중구,300000016,200000157,37.565362,127.007024
1,1,79148,동대문역사문화공원역 부티크호텔 르릿,모텔,motel,0,0,✨#매일 소독#넷플릭스#셀프체크인✨,서울,명동 / 중구,300000016,200000157,37.563459,127.008529
2,2,70052,프레이저 플레이스 센트럴,4성급,hotel,0,0,,서울,명동 / 중구,300000016,200000157,37.562782,126.969783
3,3,75413,노보텔 앰배서더 동대문 호텔 & 레지던스,5성급,hotel,0,0,,서울,명동 / 중구,300000016,200000157,37.566159,127.004259
4,4,84589,서울신라호텔,5성급,hotel,0,0,,서울,명동 / 중구,300000016,200000157,37.555881,127.005153
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,148,73159,호텔 릿,호텔,hotel,0,0,,서울,명동 / 중구,300000016,200000157,37.554624,126.973805
146,149,80814,메트로 호텔,호텔,hotel,0,0,,서울,명동 / 중구,300000016,200000157,37.565096,126.983716
147,150,88797,명동 사보이 호텔,호텔,hotel,0,0,,서울,명동 / 중구,300000016,200000157,37.561766,126.984276
148,151,79443,명동 호텔미도,모텔,motel,0,0,,서울,명동 / 중구,300000016,200000157,37.558416,126.980561
149,152,79453,명동 꼬모,모텔,motel,0,0,,서울,명동 / 중구,300000016,200000157,37.560381,126.987196

In [ ]:
b.drop_duplicates().reset_index()

,index,code,name,grade,type,d_price,price,benefit,region_L,region_S,code_L,code_S,lat,lon
0,0,84970,동대문역사문화공원역 LOO(루호텔),모텔,motel,0,0,⭐GRAND OPEN 디즈니+/넷플릭스 무료⭐,서울,명동 / 중구,300000016,200000157,37.565362,127.007024
1,1,79148,동대문역사문화공원역 부티크호텔 르릿,모텔,motel,0,0,✨#매일 소독#넷플릭스#셀프체크인✨,서울,명동 / 중구,300000016,200000157,37.563459,127.008529
2,2,70052,프레이저 플레이스 센트럴,4성급,hotel,0,0,,서울,명동 / 중구,300000016,200000157,37.562782,126.969783
3,3,75413,노보텔 앰배서더 동대문 호텔 & 레지던스,5성급,hotel,0,0,,서울,명동 / 중구,300000016,200000157,37.566159,127.004259
4,4,84589,서울신라호텔,5성급,hotel,0,0,,서울,명동 / 중구,300000016,200000157,37.555881,127.005153
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,149,80814,메트로 호텔,호텔,hotel,0,0,,서울,명동 / 중구,300000016,200000157,37.565096,126.983716
147,150,88797,명동 사보이 호텔,호텔,hotel,0,0,,서울,명동 / 중구,300000016,200000157,37.561766,126.984276
148,151,86349,명동 오요3,모텔,motel,0,0,,서울,명동 / 중구,300000016,200000157,37.562938,126.985803
149,152,79443,명동 호텔미도,모텔,motel,0,0,,서울,명동 / 중구,300000016,200000157,37.558416,126.980561
150,153,79453,명동 꼬모,모텔,motel,0,0,,서울,명동 / 중구,300000016,200000157,37.560381,126.987196

In [ ]:
a.drop_duplicates().reset_index()

,index,code,name,grade,type,d_price,price,benefit,region_L,region_S,code_L,code_S,lat,lon
0,0,84970,동대문역사문화공원역 LOO(루호텔),모텔,motel,0,0,GRAND OPEN 디즈니+/넷플릭스 무료,서울,명동 / 중구,300000016,200000157,37.565362,127.007024
1,1,79148,동대문역사문화공원역 부티크호텔 르릿,모텔,motel,0,0,매일 소독넷플릭스셀프체크인,서울,명동 / 중구,300000016,200000157,37.563459,127.008529
2,2,70052,프레이저 플레이스 센트럴,4성급,hotel,209000,209000,,서울,명동 / 중구,300000016,200000157,37.562782,126.969783
3,3,75413,노보텔 앰배서더 동대문 호텔 & 레지던스,5성급,hotel,281600,550000,,서울,명동 / 중구,300000016,200000157,37.566159,127.004259
4,4,84589,서울신라호텔,5성급,hotel,0,0,,서울,명동 / 중구,300000016,200000157,37.555881,127.005153
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,149,80814,메트로 호텔,호텔,hotel,0,0,,서울,명동 / 중구,300000016,200000157,37.565096,126.983716
147,150,88797,명동 사보이 호텔,호텔,hotel,0,0,,서울,명동 / 중구,300000016,200000157,37.561766,126.984276
148,151,79443,명동 호텔미도,모텔,motel,0,0,,서울,명동 / 중구,300000016,200000157,37.558416,126.980561
149,152,79453,명동 꼬모,모텔,motel,0,0,,서울,명동 / 중구,300000016,200000157,37.560381,126.987196
150,153,86349,명동 오요3,모텔,motel,0,0,,서울,명동 / 중구,300000016,200000157,37.562938,126.985803

In [ ]:
a

In [ ]:
a.drop_duplicates().reset_index()

In [ ]:
a.drop_duplicates().reset_index()

In [ ]:
a.to_csv('test.csv')

In [ ]:
'code': hotel['hotelIdx']
'name': hotel['name']
'grade': hotel['stayGradeName']
'type': hotel['stayTypeCode']
'd_price': hotel['discount']
'price': hotel['price']
'benefit': hotel['benefit']
'region_L': hotel['regionLargeName']
'region_S': hotel['regionMediumName']
'code_L': hotel['regionLargeIdx']
'code_S': hotel['regionMediumIdx']
'lat': hotel['latitude']
'lon': hotel['longitude']

In [ ]:
detail['data']['staySaleSections'][0].keys()

In [ ]:
detail['data']['staySaleSections'][1].keys()

In [ ]:
today = datetime.now().strftime('%Y-%m-%d')
total_df = pd.DataFrame()

for region in region_list:
    r_idx = region['idx']
    r_name = region['name']

    region_df = pd.DataFrame()

    for city in region['regions']:
        
        page = 1
        max_page = 10
        r_hotels = []
        r_num_check = 0

        c_idx = city['idx']
        c_name = city['name']

        if '전체' not in c_name:
            print(c_idx, c_name)
            
            while page <= max_page:
                url = f'https://www.dailyhotel.com/newdelhi/goodnight/api/v10/stay/plp/list?dateCheckIn={today}&regionIdx={c_idx}&shortCutType=stayAll&persons=1&stays=1&details=true&regionStayType=new_all&stayType=&page={page}&limit=50'
                res = requests.get(url, headers=headers)
                detail = json.loads(res.text)
                
                if page == 1:
                    r_num_check += detail['data']['staySalesCount']

                for section in detail['data']['staySaleSections']:
                    for hotel in section['staySales']:
                        r_hotels.append({
                            'code': hotel['hotelIdx'],
                            'name': hotel['name'],
                            'grade': hotel['stayGradeName'],
                            'type': hotel['stayTypeCode'],
                            'd_price': hotel['discount'],
                            'price': hotel['price'],
                            'benefit': hotel['benefit'],
                            'region_L': hotel['regionLargeName'],
                            'region_S': hotel['regionMediumName'],
                            'code_L': hotel['regionLargeIdx'],
                            'code_S': hotel['regionMediumIdx'],
                            'lat': hotel['latitude'],
                            'lon': hotel['longitude']
                            })
                max_page = (detail['data']['staySalesCount'] // 50) + 1
                page += 1
        df = pd.DataFrame(r_hotels).drop_duplicates().reset_index()

        if len(df) != r_num_check:
            print(f'hotel number error, {len(df)}, {r_num_check}')
            break
        region_df = pd.concat([region_df, df], ignore_index=True)

    region_df.to_csv(f'./hotels/{r_name}.csv')
    total_df = pd.concat([total_df, region_df], ignore_index=True)

total_df.to_csv('./hotels/전체.csv')

강남 예시 200000151, 300000016
https://www.dailyhotel.com/stays?shortCutType=stayAll&regionStayType=new_all&dateCheckIn=2023-11-06&rai=200000151&rpi=300000016&stays=1&reg=0

In [ ]:

today = datetime.now().strftime('%Y-%m-%d')
total_df = pd.DataFrame()

for region in region_list:
    r_idx = region['idx']
    r_name = region['name']

    region_df = pd.DataFrame()

    for city in region['regions']:
        
        page = 1
        max_page = 10
        r_hotels = []
        r_num_check = 0

        c_idx = city['idx']
        c_name = city['name']

        if '전체' not in c_name:
            print(c_idx, c_name)
            
            while page <= max_page:
                url = f'https://www.dailyhotel.com/newdelhi/goodnight/api/v10/stay/plp/list?dateCheckIn={today}&regionIdx={c_idx}&shortCutType=stayAll&persons=1&stays=1&details=true&regionStayType=new_all&stayType=&page={page}&limit=50'
                res = requests.get(url, headers=headers)
                detail = json.loads(res.text)
                
                if page == 1:
                    r_num_check += detail['data']['staySalesCount']

                for section in detail['data']['staySaleSections']:
                    for hotel in section['staySales']:
                        r_hotels.append({
                            'code': hotel['hotelIdx'],
                            'name': hotel['name'],
                            'grade': hotel['stayGradeName'],
                            'type': hotel['stayTypeCode'],
                            'd_price': hotel['discount'],
                            'price': hotel['price'],
                            'benefit': hotel['benefit'],
                            'region_L': hotel['regionLargeName'],
                            'region_S': hotel['regionMediumName'],
                            'code_L': hotel['regionLargeIdx'],
                            'code_S': hotel['regionMediumIdx'],
                            'lat': hotel['latitude'],
                            'lon': hotel['longitude']
                            })
                max_page = (detail['data']['staySalesCount'] // 50) + 2
                page += 1
        df = pd.DataFrame(r_hotels).drop_duplicates().reset_index()

        if len(df) != r_num_check:
            print(f'hotel number error, {len(df)}, {r_num_check}')
            break
        pd.concat([region_df,df], ignore_index=True)

    region_df.to_csv(f'./hotels/{r_name}.csv')
    pd.concat([total_df,region_df], ignore_index=True)

total_df.to_csv('./hotels/전체.csv')

In [ ]:
b

,code,name,grade,type,d_price,price,benefit,region_L,region_S,code_L,code_S,lat,lon
0,84970,동대문역사문화공원역 LOO(루호텔),모텔,motel,0,0,GRAND OPEN 디즈니+/넷플릭스 무료,서울,명동 / 중구,300000016,200000157,37.565362,127.007024
1,79148,동대문역사문화공원역 부티크호텔 르릿,모텔,motel,0,0,매일 소독넷플릭스셀프체크인,서울,명동 / 중구,300000016,200000157,37.563459,127.008529
2,70052,프레이저 플레이스 센트럴,4성급,hotel,209000,209000,,서울,명동 / 중구,300000016,200000157,37.562782,126.969783
3,75413,노보텔 앰배서더 동대문 호텔 & 레지던스,5성급,hotel,281600,550000,,서울,명동 / 중구,300000016,200000157,37.566159,127.004259
4,84589,서울신라호텔,5성급,hotel,0,0,,서울,명동 / 중구,300000016,200000157,37.555881,127.005153
...,...,...,...,...,...,...,...,...,...,...,...,...,...
149,80814,메트로 호텔,호텔,hotel,0,0,,서울,명동 / 중구,300000016,200000157,37.565096,126.983716
150,88797,명동 사보이 호텔,호텔,hotel,0,0,,서울,명동 / 중구,300000016,200000157,37.561766,126.984276
151,73159,호텔 릿,호텔,hotel,0,0,,서울,명동 / 중구,300000016,200000157,37.554624,126.973805
152,79443,명동 호텔미도,모텔,motel,0,0,,서울,명동 / 중구,300000016,200000157,37.558416,126.980561
153,86349,명동 오요3,모텔,motel,0,0,,서울,명동 / 중구,300000016,200000157,37.562938,126.985803

In [ ]:
today = datetime.now().strftime('%Y-%m-%d')
total_df = pd.DataFrame()

for region in region_list:
    r_idx = region['idx']
    r_name = region['name']

    region_df = pd.DataFrame()

    for city in region['regions']:
        

        r_hotels = []
        r_num_check = 0

        c_idx = city['idx']
        c_name = city['name']

        if '전체' not in c_name:
            print(c_idx, c_name)
            
            url = f'https://www.dailyhotel.com/newdelhi/goodnight/api/v10/stay/plp/list?dateCheckIn={today}&regionIdx={c_idx}&shortCutType=stayAll&persons=1&stays=1&details=true&regionStayType=new_all&stayType=&page={page}&limit=50'
            res = requests.get(url, headers=headers)
            detail = json.loads(res.text)
            page = (detail['data']['staySalesCount'] // 50) + 2
                
            for i in range(1,page):

                url = f'https://www.dailyhotel.com/newdelhi/goodnight/api/v10/stay/plp/list?dateCheckIn={today}&regionIdx={c_idx}&shortCutType=stayAll&persons=1&stays=1&details=true&regionStayType=new_all&stayType=&page={page}&limit=50'
                res = requests.get(url, headers=headers)
                detail = json.loads(res.text)

                r_num_check += detail['data']['staySalesCount']

                for section in detail['data']['staySaleSections']:
                    # 광고 스킵
                    if section['sectionType'] != 'NORMAL':
                        continue

                    for hotel in section['staySales']:
                        r_hotels.append({
                            'code': hotel['hotelIdx'],
                            'name': hotel['name'],
                            'grade': hotel['stayGradeName'],
                            'type': hotel['stayTypeCode'],
                            'd_price': hotel['discount'],
                            'price': hotel['price'],
                            'benefit': hotel['benefit'],
                            'region_L': hotel['regionLargeName'],
                            'region_S': hotel['regionMediumName'],
                            'code_L': hotel['regionLargeIdx'],
                            'code_S': hotel['regionMediumIdx'],
                            'lat': hotel['latitude'],
                            'lon': hotel['longitude']
                            })
                        time.sleep(0.06)
                
                
            print(page)
                
            df = pd.DataFrame(r_hotels).drop_duplicates().reset_index()

            if len(df) != r_num_check:
                print(f'hotel number error, {c_name}: {len(df)}, {r_num_check}')
                break

        region_df = pd.concat([region_df, df], ignore_index=True)

    region_df.to_csv(f'./hotels/{r_name}.csv')
    total_df = pd.concat([total_df, region_df], ignore_index=True)

total_df.to_csv('./hotels/전체.csv')